*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    display: flex;
    flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.content{
    height: 90%;
    background-color: aliceblue;
    display:flex ;
    flex-direction: column;
    align-items: center;
    background-image:url() ;
    border-radius: .7rem .7rem 0rem 0rem;
}
.searchbar{
    height: 10%;
    background-color: rgb(190, 212, 212);
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}
.searchbar label{
    flex: 1;
    height: 100%;
    width: 70%;

}
.searchbar input{
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    height: 100%;
    border: none;
    background-color: rgb(211, 225, 238);
    padding-left: 1rem;
    font-size: 1rem;
}
.searchbar button{
    width: 30%; /* The remaining width */
    height: 100%; 
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(174, 208, 240);
}

/* ////////////////////// */

.main-details{
    text-align: center;
    /* border: 1px solid black; */
    height: 120px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: .3rem;
    line-height: 2.5rem;
    backdrop-filter: blur(1px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(8px);
    
}
#city-name{
    font-size: large;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: .5rem;
    text-shadow: 1px 0px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0em rgb(0, 0, 0);

}
.data h1{
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.05em rgb(0, 0, 0);

}
.condition{
    display: flex;
    align-items: center;
    justify-content: center; 
    /* text-shadow: 0px 0px 1px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0em rgb(0, 0, 0); */

}
.condition img{
    width: 50px;
}



.forecast{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: .3rem 0rem;
    padding: .5rem 0rem;
    border-radius: .8rem;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    backdrop-filter: blur(12px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(8px);
}
.forecast>p{
    /* color: blueviolet; */
    margin-left: 1rem;
    margin-bottom: .4rem;
    font-weight: 500;

}

.forecast-container {
    display: flex;
   justify-content: space-evenly;
}
.forecast-main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.forecast-main .date{
    font-size: small;
    color: #121212;
    opacity: .7;
    margin-bottom: .2rem;
}

.forecast-data p{
   max-width: 100px;
   min-height: 36px;
}
.temp{
    margin-top: auto;
}

.other-details{
    display: flex;
    justify-content: space-evenly;
    margin: .8rem 0rem;
}
.wind,.humidity{
    flex: 1;
    margin: 0 1rem; 
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    backdrop-filter: blur(12px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(8px);
    border-radius: .8rem;
    height: 80px;
    width: 120px;
}

.feels-like,.humidity-data{
    display: flex;   
    justify-content: space-around;
}
.humidity{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wind{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.wind-kph,.wind-gust{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wind-kph>p,.wind-gust>p{
    margin-right: .3rem;
    font-size: 1.8rem;
}
.wind-kph,.wind-gust 
.measurement p{
    font-size: small;
}
.measurement p:first-child{
    font-size: .7rem;
    opacity: 0.9;
    color: #e6e2e2;
}

.credits{
    font-size: .7rem;
}