*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
}
.main{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.content{
    height: 90%;
    background-color: aliceblue;
    display:flex ;
    flex-direction: column;
}
.searchbar{
    height: 10%;
    background-color: rgb(190, 212, 212);
    display: flex;
    align-items: center;
    width: 100%;
}
.searchbar label{
    flex: 1;
    height: 100%;
    width: 70%;
}
.searchbar input{
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    height: 100%;
    border: none;
    background-color: rgb(211, 225, 238);
}
.searchbar button{
    width: 30%; /* The remaining width */
    height: 100%; 
    border: none;
}

/* ////////////////////// */

.main-details{
    text-align: center;
    /* border: 1px solid black; */
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    line-height: 2.8rem;
}
.data h1{
    font-size: 5rem;
}
.condition{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.condition img{
    width: 50px;
}



.forecast{
    display: flex;
    flex-direction: column;
}
.forecast-container {
    display: flex;
    justify-content: space-evenly;
}


.other-details{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.wind,.humidity{
    border: 1px solid black;
}

.feels-like,.humidity-data{
    display: flex;
    
}
.wind{
    display: flex;
    flex-direction: column;
}
.wind-kph,.wind-gust{
    display: flex;
}
/* .measurements{
    display: flex;
    flex-direction: column;
} */

